@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --fuentePrincipal: 'Roboto', sans-serif;

    --primario: #ED6412;
    --secundario:#128DED;
    --amarillo:#E9C11D;
    --blanco:#fff;
    --negro:#000;
}
/* Settings*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(139,175,184,1) 100%);
}

/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar_texto{
    text-align: center;
}
/* header */
.header{
    background-image: url(../img/banner.jpg);
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--blanco);
    position: relative;
    margin-bottom: 1.8rem;
}
.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
}
.header__barra{
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .nav{
        display: flex;
        justify-content: space-around;
        gap: 5rem;
    }
}
.nav li{
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
}
.nav li a{
    color: var(--blanco);
    transition: color .5s ease,font-size .5s ease;
}
.nav li a:hover{
    color: #ED6412;
    font-size: 2.2rem;
}
.logo{
    padding: 2rem 0;
}
.logo_titulo{
    color: var(--blanco);
    font-size: 4rem;
}
@media (max-width: 768px) {
    .logo_titulo i{
        display: none;
    }
    .nav li{
        margin: 1 0;
    }
}
@media (max-width: 320px) {
    .titulo{
        font-size: 4rem;
        margin-right: .5rem;
    }
}
.titulo{
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    transition: transform .7s ease;
}
.titulo:hover{
    /* animation: rotate 1s linear; */
    transform: rotateY(360deg);
}

.logo_bold,.nav li a{
    font-weight: 700;
}
@media (min-width: 768px) {
    .logo_titulo{
        width: 100%;
        font-weight: normal;
        color: var(--blanco); 
        font-size: 4.8rem;
    }
}
.header__info h3{
    color: var(--amarillo);
    font-size: 4rem;
}
.header__info p{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .header__info{
        margin-top: 15rem;
    }
}


/* main */
.bg-white{
    background-color: var(--blanco);
    padding: 1.8rem;
    border-radius: .7rem;
}
@media (min-width: 768px) {
    .empresas{
        display: grid;
        grid-template-columns: repeat(3,2fr);
        gap: 2rem;
    }
}
.shadow{
    box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
}
.empresas{
    margin-top: 2rem;
}
.card,.card__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    margin-bottom: 1.5rem;
}
.card__info{
    align-items: center;
    justify-content: center;
}
.tarjeta_img{
    height: 50%;
}
.tarjeta_img img{
    width: 100%;
    height: 100%;
}
/* servicios */
.info h2{
    color: var(--primario);
    font-weight: 700;
}
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
@media (min-width: 812px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(4,2fr);
    }
}
@media (max-width: 400px) {
    .servicios{
        grid-template-columns: 1fr;
    }
}
.service,.service__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service{
    flex-direction: column;
    padding: .5rem;
}
.service__icon{
    background-color: var(--amarillo);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    font-size: 5rem;
    margin-bottom: 1rem;
}


/* footer */

.foot{
    background-color: var(--negro);
    margin-top: 1.8rem;
}
.foot h4{
    color: var(--blanco);
    padding: 3.5rem;
}

/* Product */

.bg-black{
    background-color: var(--negro);
}
.productos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
.producto{
    background-color: var(--primario);
    padding: 1rem;
}
.product_info{
    color: var(--blanco);
    font-weight: 700;
    font-size: 2rem;
}
.product_info .nombre_producto{
    font-size: 3rem;
    color: var(--negro);
}




