@use "./general/variables" as *;
@import "./mixins";
@import "./general/reset";
@import "./general/breakpoints";
@import "./general/utilities";



@import "./sections/header";
@import "./sections/mainIndex";
@import "./sections/footer";
@import "./sections/extras";
@import "./components/navigation.scss";
@import "./components/cards_comentarios.scss";