.bg-white{
    background-color: var(--blanco);
    padding: 1.8rem;
    border-radius: .7rem;
    & .empresas{
        @include tablet{
            display: grid;
            grid-template-columns: repeat(3,2fr);
            gap: 2rem;
        }
    }
    & .empresas{
        margin-top: 2rem;
        & .card{
            margin-bottom: 1.5rem;
            &,.card__info{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .card__info{
                align-items: center;
                justify-content: center;
            }
            .tarjeta_img{
                height: 50%;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        & .shadow{
            box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
            -webkit-box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
            -moz-box-shadow: 10px 10px 15px 0px rgba(43,40,39,0.75);
        }
    }
    & .info{
        & h2{
            color: $clr-orange;
            font-weight: map-get($font-weights, "bold");
        }
        & .servicios {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            @include tablet_grande{
                display: grid;
                grid-template-columns: repeat(4,2fr);
            }
            @include celular_grande{
                grid-template-columns: 1fr;
            }
        }
        & .service{
            flex-direction: column;
            padding: .5rem;
            &{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__icon{
                background-color: $clr-amarillo;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                font-size: 5rem;
                margin-bottom: 1rem;
            }
        }
    }
}
.service__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-amarillo;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    font-size: 5rem;
    margin-bottom: 1rem;
}
