/* Settings*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(139,175,184,1) 100%);
}

/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2,h3,h4{
    font-family: $fuentePrincipal;
}
h1{
    @include headerSize(4.8rem);
}
h2{
    @include headerSize(4rem);
}
h3{
    @include headerSize(3.2rem);
}
h4{
    @include headerSize(2.8rem);
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar_texto{
    text-align: center;
}