$clr-orange:#ED6412;
$clr-gris1: #e1e1e1;
$clr-dark:#30302F;
$clr-secundario:#128DED;
$clr-amarillo:#E9C11D;
$clr-blanco: #fff;
$clr-negro: #000;
$clr-chocolate:#67430A;
$clr-gris:#6B6B6B;

/* fonts */


$fuentePrincipal: 'Roboto', sans-serif;
$font-weights:("normal":400,"bold":700);

$clr-redes:(
    Facebook:#309CF7,
    Instagram:#AF50BB,
    Google:#E30F3F
);