$clr-orange:#ED6412;
$clr-gris1: #e1e1e1;
$clr-dark:#30302F;
$clr-secundario:#128DED;
$clr-amarillo:#E9C11D;
$clr-blanco: #fff;
$clr-negro: #000;
$clr-chocolate:#67430A;
$clr-gris:#6B6B6B;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$fuentePrincipal: 'Roboto', sans-serif;
