.bg-black{
    .nv{
        @include tablet{
            display: flex;
            justify-content: space-around;
            gap: 5rem;
        }
        & li{
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
            @include tablet{
                margin: 1 0;
            }
            & a{
                color: $clr-blanco;
                transition: color .5s ease,font-size .5s ease;
                font-weight: 700;
                &:hover{
                    color: $clr-orange;
                    font-size: 2.2rem;
                    text-decoration: none;
                }
            }
        }
    }
    .logo{
        padding: 2rem 0;
        &_titulo{
            color: $clr-blanco;
            font-size: 4rem;
            &:hover{
                text-decoration: none;
            }
            & i{
                @include tablet{
                    display: none;
                }
            }
        }
        &__bold{
            font-weight: 700;
        }
        &__titulo{
            width: 100%;
            font-weight: normal;
            color: $clr-blanco; 
            font-size: 4.8rem;
        }
    }
    .titulo{
        @include celular{
            font-size: 4rem;
            margin-right: .5rem;
        }
        color: #FFFFFF;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
        transition: transform .7s ease;
        &:hover{
            transform: rotateY(360deg);
        }
    }
}